
      /* .legend { */
        /* max-width: 650px; */
        /* right: 80px;
        top: 20px;
        position: absolute;
        margin: 0 auto;
      } */

    /* #goodsContainer {
        display: flex;
        flex-direction:row;
        height: 100vh;
        }
        

    #servicesContainer {
        display: flex;
        height: 100vh;
        }
  

    .chart {
        flex-basis: 100%;
        flex: 1;
        } */



    /* @media (max-width: 800px) {
         #goodsContainer {
            flex-direction: column;
          }
          #servicesContainer {
            flex-direction: column;
          }
        } */